@charset "UTF-8";


input::placeholder {
    color: gray;
    font-size: 16px;
}

.board-text > a {
	font-weight: bold;
	color: #B29254;
}

table {
	width: 811px;
}

td {
	height: 40px;
}

input[type=file]::file-selector-button {
    width: 90px;
    height: 35px;
    margin-right: 10px;
    background-color: #B29254;
    border: 1px solid #B29254;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    /* &:hover {
    background: rgb(77,77,77);
    color: #fff;
    } */
}

.community-td-header {
	text-align: center;
	background-color: #FDFAEF;
	color: black;
}

.community-td-title {
    text-align: left;
    padding-left: 5px;
}

.community-td-title > select {
    width: 105px;
    height: 33px;
    border: 1px solid #e8e8e8;
    font-size: 16px;
    color: gray;
}

.community-td-title > input {
    border-style: none;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
}

.community-td-name {
    text-align: left;
    padding-left: 10px;
}

.community-td-name > input {
    border-style: none;
    outline: none;
    font-size: 16px;
}

.community-td-file {
    height: 50px;
}

.community-td-file + td > input {
    padding-left: 10px;
    font-size: 16px;
}

.btn-wrap {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/* 버튼 */
.community-add-btn {
    /* margin-left: 823px; */
    padding: 0;
    width: 90px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #B29254;
    background-color: #B29254;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.community-add-btn:hover {
	border: 2px solid #4B4242;
}

.community-list-btn {
    /* margin-left: 823px; */
    padding: 0;
    width: 90px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #B29254;
    background-color: white;
    color: #B29254;
    font-size: 15px;
    cursor: pointer;
}

.community-list-btn:hover {
	border-width: 2px;
}

