main {
	width: 1440px;
	margin: auto;
	margin-bottom: 110px;
}

.customer-logo {
    width: 1440px;
    height: 282px;
}

.customerDetail-restay-container {
	width: 1100px;
	margin: auto;
}

table {
	font-size: 16px;
    border-collapse: collapse;
    width: 1100px;
}

th {
	background-color: #f7f8f9;
	padding: 15px 10px 16px;
}

td {
	padding: 17px 10px 13px 28px;
}

th, td {
	width: 100px;
}

#fileDown {
	cursor: pointer;
}

.list-btn {
	text-align: right;
    margin-top: 30px;
}

.list-btn button {
	width: 55px;
    height: 45px;
    background-color: rgb(11 86 26 / 63%);
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
}