@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

main {
	width: 1440px;
	margin: auto;
	margin-bottom: 110px;
}

.customer-logo {
    width: 1440px;
    height: 282px;
}

.customerWrite-containter {
	width: 1100px;
	margin: auto;
}

table {
	font-size: 16px;
    border-collapse: collapse;
    width: 1100px;
}

th {
	width: 150px;
	background-color: #f7f8f9;
	text-align: left;
}

th, td {
	height: 50px;
	padding: 5px 15px;
}

.write-btn {
	margin: auto;
	text-align: right;
    margin-top: 30px;
}

#customer-category {
	width: 130px;
	height: 32px;
	font-size: 16px;
}

input[type="text"] {
	width: 800px;
	height: 45px;
	font-size: 16px;
	border: none;
	outline: none;
}

input[type="file"] {
	font-size: 16px;
}

.write-btn button {
	width: 55px;
    height: 45px;
    background-color: rgb(11 86 26 / 63%);
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
}