@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

* {
    font-family: 'Spoqa Han Sans Neo','Noto Sans KR', sans-serif;
}

.footer {
    width: 1440px;
    margin: auto;
}

.footer-wrap {
    width: 1398px;
    height: 150px;
    margin: auto;
    background-color: #f5f5f5;
}

.guide {
    width: 1240px;
    margin: auto;
    margin-top: 30px;
    box-sizing: border-box;
}

.bottom-wrap {
    margin-top: 48px;
}

.bottom-wrap span {
    margin-right: 19px;
}

.bottom-wrap span a {
    text-decoration: none;
    color: black;
}

.logo {
    width: 140px;
    height: 52px;
    float: right;
    margin-left: 3.2px;
    margin-top: 26px;
}

.bottom {
    height: 141px;
    clear: both;
    padding-top: 20px;
    margin-left: 8px;
}

.bottom p {
    font-size: 12px;
}