@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

* {
    font-family: 'Spoqa Han Sans Neo','Noto Sans KR', sans-serif;
}

body {
    margin: 0;
}

.header {
    width: 1440px;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid #E9E4E4;
    border-radius: 10px;
    background: #FFFFFF;
    margin: auto;
    position: relative;
}

.wrap {
    /* position �냽�꽦 異붽� */
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 70px;
}

.wrap .logo {
    text-indent: -99999px;
    padding-left: 44px;
    /* 
    padding-top: 0;
    */
    padding-top: 10px;
}

.wrap .logo a {
    background: url('/Restay/img/RESTAY.png') no-repeat 50%;
    background-size: cover;
    display: block;
    width: 138px;
    height: 36px;
}

.menu-wrap {
    width: 368px;
    height: 26px;
    margin-left: 100px;
    margin-top: 20px;

}

.menu-wrap ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    text-align: center;
}

.menu-wrap ul a {
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

.search-1, .search-2 {
    width: 270px;
    height: 40px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    /* margin-left: 65px; */
    margin-top: 12px;
    box-sizing: border-box;
    /* text-align: center; */
    /* padding: 7px 0; */
}

.search-1 {
    margin-left: 65px;
    cursor: pointer;
}

.search-2 {
    margin-left: 30px;
    cursor: pointer;
}

.search-1 img, .search-2 img {
    width: 20px;
    height: 20px;
    padding-left: 5px;
    padding: 9px 0px 9px 15px;
    float: left;
}

.search-1 span, .search-2 span {
    font-size: 15px;
    padding-left: 5px;
    padding: 8px 0px 8px 10px;
    float: left;
}

.main-login-wrap {
    /* margin-left 20px -> 10px �닔�젙 */
    clear: both;
}

.login-before {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 103px;
    height: 60px;
    margin-left: 10px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}

.login-after {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 103px;
    height: 60px;
    margin-left: 10px;
    padding: 20px;
    cursor: pointer;
}

.main-login-wrap img {
    width: 24px;
    height: 24px;
}

.main-login-wrap span {
    font-size: 15px;
}

.myPage {
    margin: 0;
    padding: 7px 15px;
    width: 125px;
    height: 210px;
    border: 1px solid #d3d3d3;
    background-color: #ffffff;
    list-style: none;
    position: absolute;
    top: 60px;
    right: -1px;
    z-index: 100;
    display:none;
}

.login-after:hover .myPage{
    display:block;
}

.myPage li {
    margin: 16px 0px 16px 0px;
}

.myPage li a:hover{
    color:#000;
}

.myPage a {
    font-size: 14px;
    text-decoration: none;
    color: #d3d3d3;
}

/* 紐⑤떖 */
.modal-wrap {
    margin: auto;
    width: 1440px;
    height: 2936px;
    background-color: rgba(0,0,0,.1);
    position: absolute;
    top: 0;
    z-index: 100;
    display: none;
}

.modal {
    margin: auto;
    width: 1200px;
    background-color: #FFFFFF;
    border-radius: 30px;
    height: 770px;
}

.modal-title {
    margin: auto;
    width: 1160px;
    height: 144px;
    border-bottom: 1px solid #d3d3d3;
}

.modal-title h1 {
    margin: 0;
    text-align: center;
    padding-top: 50px;
}

.modal-close {
    position: absolute;
    top: 47px;
    left: 1200px;
    cursor: pointer;
}

.modal-search {
    margin: auto;
    width: 1160px;
    height: 500px;
    /* border: 1px solid; */
}

.modal-search form {
    width: 100%;
    height: 100%;
}

.modal-search-where {
    margin-left: 300px;
    margin-top: 80px;
    width: 579px;
    height: 63px;
    background-color: #f1f1f1;
    border-radius: 50px;
}

.modal-search img {
    position: absolute;
    top: 247px;
    left: 470px;
}

.modal-search input {
    padding: 0;
    margin-left: 60px;
    width: 500px;
    height: 63px;
    font-size: 18px;
    border-style: none;
    outline: none;
    background-color: transparent;
}

.modal-locabrand {
    margin: auto;
    margin-top: 75px;
    padding-left: 58px;
    width: 1160px;
    height: 220px;
    border-bottom: 1px solid #d3d3d3;
    box-sizing: border-box;
}

.modal-location {
    width: 564px;
    height: 212px;
    box-sizing: border-box;
    float: left;
}

.modal-location ul {
    column-gap: 16px;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    row-gap: 12px;
}

.modal-location li:hover {
    cursor: pointer;
}

.modal-location button{
    border:none;
}
.modal-location .item {
    background-color: white;
    align-items: center;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    padding: 0 16px;
    display: flex;
    height: 36px;
    color: #666;
}

.modal-location .item.selected {
    background-color: #333;
    border-radius: 20px;
    color: white;
}
.modal-location .item:hover {
    background-color: #333;
    border-radius: 20px;
    cursor: pointer;
    color: white;
}

.modal-brand {
    margin-left: 20px;
    width: 487px;
    height: 212px;
    box-sizing: border-box;
    float: left;
}

.modal-brand ul {
    list-style: none;
    column-gap: 16px;
    flex-wrap: wrap;
    display: flex;
    row-gap: 12px;
}

.modal-brand li {
    height: 20px;
    padding-right: 55px;
    margin-bottom: 20px;
}
.modal-brand li:hover {
    cursor:pointer;
}
.modal-brand button{
    border:none;
}
.modal-brand .item {
    background-color: white;
    align-items: center;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    padding: 0 16px;
    display: flex;
    color: #666;
    height: 36px;
}

.modal-brand .item.selected {
    background-color: #333;
    border-radius: 20px;
    color: white;
}
.modal-brand .item:hover {
    background-color: #333;
    border-radius: 20px;
    cursor: pointer;
    color: white;
}

.modal-btn-img {
    clear: both;
    margin-top: 59px;
    width: 1160px;
    height: 64px;
    /* border: 1px solid; */
}

.modal-btn-img img {
    position: static;
}

.modal-btn-img>img:nth-of-type(1) {
    padding-left: 400px;
    padding-right: 18px;
    cursor: pointer;
}

.modal-btn-img button {
    border-style: none;
    background-color: white;
    cursor: pointer;
}

.modal-wrap-2 {
    margin: auto;
    width: 1440px;
    height: 2936px;
    background-color: rgba(0,0,0,.1);
    position: absolute;
    top: 0;
    z-index: 100;
    display: none;
}

.modal-2 {
    background-color: #FFFFFF;
    border-radius: 30px;
    width: 1200px;
    height: 770px;
    margin: auto;
}

.modal-when-title {
    margin: auto;
    width: 1160px;
    height: 144px;
    border-bottom: 1px solid #d3d3d3;
}

.modal-when-title h1 {
    margin: 0;
    text-align: center;
    padding-top: 50px;
}

.modal-when-close {
    position: absolute;
    top: 47px;
    left: 1200px;
    cursor: pointer;
}

.modal-cal-wrap {
    margin: auto;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    width: 1160px;
    height: 440px;
}

.modal-cal {
    width: 579px;
    height: 63px;
    background-color: #f1f1f1;
    margin: auto;
    margin-top: 50px;
    border-radius: 50px;
}

.modal-cal input {
    padding: 0;
    margin-left: 26px;
    width: 500px;
    height: 63px;
    font-size: 18px;
    border-style: none;
    outline: none;
    background-color: transparent;
}

.modal-btn-img-2 {
    margin-top: 59px;
    width: 1160px;
    height: 64px;
}

.modal-btn-img-2>img:nth-of-type(1) {
    padding-left: 400px;
    padding-right: 18px;
    cursor: pointer;
}

.modal-btn-img-2 button {
    border-style: none;
    background-color: white;
    cursor: pointer;
}