@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

main {
	width: 1440px;
	margin: auto;
	margin-bottom: 110px;
}

.findstay-logo-wrap {
	margin: 66px 0 66px 0;
}

.findstay-logo {
	width: 443px;
    height: 150px;
    margin: auto;
    background-image: url(https://i.ibb.co/DC5c6Kx/findstay-Title.png);
}

.findstayRoom-restay-container {
	width: 1320px;
	margin: auto;
}

.findstayRoom-restay-reservtext {
	font-size: 18px;
	letter-spacing: 14px;
	text-align: center;
}

.findstayRoom-restay-title {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
	padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    align-items: center;
}

.findstayRoom-restay-title-name {
	font-size: 26px;
	font-weight: 500;
}

.findstayRoom-restay-title-date {
	font-size: 16px;
	font-weight: 300;
}

.findstayRoom-restay-title-pay {
	width: 240px;
	height: 40px;
	font-size: 16px;
	background-color: rgba(9, 86, 26, 0.63);
	border: none;
	color: white;
	cursor: pointer;	
}

.findstayRoom-restay-content {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
	margin-bottom: 50px;
}

.room-tit,
.room-service
{
	color: #181818;
	font-size: 12px;
	letter-spacing: 3.6px;
    font-family: Abel, SpoqaHanSans;
}

.room-name {
	font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
}

.room-price {
	font-size: 18px;
}

.room-text {
	font-size: 14px;
    color: #333;
    line-height: 1.7;
}

.findstayRoom-restay-content-option {
	margin-top: 50px;
	font-size: 14px;
    color: #333;
}

.findstayRoom-restay-content-img {
	width: 800px;
}

.findstayRoom-restay-content2 {
	display: flex;
	justify-content: space-around;
	border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 30px 0 30px 0;
}

.room-service-ul {
	display: contents;
   	margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    color: #848181;
}

.findstayRoom-restay-content3 {
	display: flex;
	justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
}

.findstayRoom-restay-content3 ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 14px;
	color: #848181;
}

.findstayRoom-restay-content3 li {
	display: inline-block;
	width: 100px;
    height: 50px;
    text-align: center;
    font-size: 14px;
}