@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

* {
    font-family: 'Spoqa Han Sans Neo','Noto Sans KR', sans-serif;
}

body {
    margin: 0;
}

main {
    width: 1440px;
    margin: auto;
    margin-bottom: 110px;
}

.only-restay-wrap {
	width: 1320px;
	margin: auto;
    margin-top: 110px;
}

.only-restay {
    display: flex;
    justify-content: space-between;
}

.only-restay-title {
	color: #181818;
    font-size: 16px;
    letter-spacing: 8px;
    margin-left: 560px;
    margin-bottom: 50px;
}

.all-view {
	border: none;
    background-color: white;
    cursor: pointer;
}

.only-restay-list, .overseas-restay-list, .travel-restay-list {
	display: flex;
    justify-content: center;
    gap: 45px;
}

.only-restay-img img, .overseas-restay-img img {
	width: 410px;
	height: 250px;
}

.only-restay-content p, .overseas-restay-content p {
	text-align: center;
}

.only-restay-content p:nth-of-type(1),
.overseas-restay-content p:nth-of-type(1) {
	font-size: 20px;
}

.only-restay-content p:nth-of-type(2), 
.only-restay-content p:nth-of-type(3),
.overseas-restay-content p:nth-of-type(2),
.overseas-restay-content p:nth-of-type(3)
{
	font-weight: 300;	
}

.only-restay-content p:nth-of-type(3) a,
.overseas-restay-content p:nth-of-type(3) a {
	color: black;
}

.overseas-restay-wrap, .travel-restay-wrap {
	width: 1320px;
	border-top: 1px solid lightgray;
	margin: auto;
    margin-top: 110px;
}

.overseas-restay, .travel-restay {
	display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.overseas-restay-title {
	color: #181818;
	font-size: 16px;
    letter-spacing: 8px;
    margin-left: 530px;
    margin-bottom: 50px;
}

.travel-restay-title {
	color: #181818;
	font-size: 16px;
    letter-spacing: 8px;
    margin-left: 618px;
    margin-bottom: 50px;
}

.travel-restay-img img {
	width: 410px;
	height: 410px;
}

.travel-restay-content p:nth-of-type(1),
.travel-restay-content p:nth-of-type(4) {
	font-size: 14px;
	font-weight: 300;
}

.travle-restay-content p:nth-of-type(2) {
	font-size: 20px;
}

.travel-restay-content p:nth-of-type(3) {
	font-size: 14px;
	font-weight: 300;
	color: gray;
	text-align: left;
    line-height: 25px;
}
