@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

main {
	width: 1440px;
	margin: auto;
	margin-bottom: 110px;
}

.travel-logo {
    width: 1440px;
    height: 282px;
}

.travel-restay-container {
	width: 1320px;
	margin: auto;
	margin-top: 50px;
}

.travel-restay-container-list {
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
    gap: 45px;
}

.travel-restay-container-page {
	margin-top: 50px;
}

.travel-restay-container-page ul {
	display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
}

.travel-restay-container-page a {
	color: black;
    text-decoration: none;
}