@charset "UTF-8";

* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.3px;
    margin: 0;
    padding: 0;
    color: #101010;
}

body {
    background-color: #FFF9E5;
}

/* 공통 input */
input:focus {
    outline: 1px solid #B29254;
}

.navi > div > a {
	text-decoration: none;
	font-size: 16px;
}

.main-box {
    /* margin: 0 auto; */
    /* width: 750px; */
    height: 628px;
    padding-top: 100px;
}

/* 네비 */
.navi {
    display: flex;
}

.findbyid {
    border: 1px solid #c0c0c0;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #B29254;
    color: #FFF;
    width: 135px;
    height: 45px;
    text-align: center;
    float: left;
    line-height: 40px;
}

.findbypwd {
    border: 1px solid #B29254;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #FFF;
    color: #B29254;
    width: 135px;
    height: 45px;
    text-align: center;
    float: left;
    line-height: 40px;
}

/* 아이디 찾기 테이블 */
.main-table {
    color: #cacaca;
    width: 100%;
    /* height: 400px; */
    border: 1px solid #c0c0c0;
    background-color: #FFF;
    /* display: block; */
    padding: 40px;
}

.findId-tr {
	padding-bottom: 20px;
}

.findId-tr > div {
	font-weight: bold;
}

.findId-table input {
    width: 100%;
    height: 40px;
    border: 1px solid #E8E8E8;
    padding: 8px;
    font-size: 15px;
}

.findId-contain {
	display:inline-flex;	
}

/*버튼*/
.paw_btn2 {
    border: 1px solid #B29254;
    border-radius: 5px;
    background-color: #FFF;
    color: #B29254;
    width: 90px;
    height: 40px;
    font-size: 15px;
    margin-left: 10px;
}


/* 버튼들 */
.paw_btn1 {
    border: 1px solid #B29254;
    background-color: #B29254;
    border-radius: 5px;
    color: #FFF;
    width: 90px;
    height: 40px;
}

.main-table .paw_btn1 {
    width: 174px;
    border: none;
    height: 43px;
    margin-top: 30px;
    font-size: 15px;
}