@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

body {
    font-family: 'Spoqa Han Sans Neo', 'Noto Sans KR', sans-serif;
    color: black;
    margin: 0;
    box-sizing: border-box;
}

section1 {
    width: 100%;
    height: 413px;
}

.mypagetitle {
    width: 100%;
    height: 368px;
}

.mypage_title {
    position: relative;
    width: 100%;
    height: 282px;
}

.mypage_title_img {
    position: relative;
    width: 443px;
    height: 150px;
    top: 66px;
    left: 0;
    background-position: center;
    display: block;
    margin: 0 auto;
}

.subtitle {
    text-align: center;
    color: black;
    font-size: 25px;
    letter-spacing: 2px;
    margin: auto;
}

section2 {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 700px;
}

.container_mypage_contents {
    width: 1100px;
    height: 1100px;
    position: relative;
    margin: 0 auto;
    background-position: 50% 50%;
    border-top-width: 2px;
    border-top-style: solid;
    border-color: black;
}

.navi {
    position: absolute;
    float: left;
    width: 270px;
    margin-top: 40px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.menu>li {
    width: 20%;
    height: 100%;
    display: block;
    margin-top: 0.5em;
    margin-left: 0px;
    margin-right: 0px;
}

.active {
    font-weight: 900;
}

.menu a {
    color: black;
    display: block;
    height: 100%;
    width: 270px;
    text-decoration: none;
    font-size: 14px;
    line-height: 35px;
}

.navi a:hover {
    font-weight: 900;
}

.mypage_content {
    position: relative;
    float: right;
    width: 830px;
    height: 1100px;
    margin-top: 40px;
    left: 100px;
}

.edit_sign {
    float: left;
    font-size: 18px;
    letter-spacing: 1px;
    padding-top: 10px;
}

.password {
    position: relative;
    width: 550px;
    height: 380px;
    margin-top: 130px;
    margin-bottom: 100px;
}

.email_name_pn {
    width: 550px;
    box-sizing: border-box;
    display: block;
}

.img-button {
    background-image: url("../../img/hidden_eye_icon.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: white;
}

.show-password {
    background-image: url("../../img/visible_eye_icon.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: white;
}

.input_box {
    position: relative;
    display: block;
    width: 550px;
    height: 70px;
    margin-bottom: 35px;
}

.input_box .tit {
    clear: both;
    font-size: 14px;
    color: black;
}

.input_box .input {
    display: block;
    box-sizing: border-box;
    border-style: none;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid gray;
    margin-top: 20px;
    margin-bottom: 30px;
}

input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text] {
    font-size: 15px;
    height: 25px;
    width: 100%;
    box-sizing: border-box;
    border-style: none;
    background: transparent;
    outline: none;
}

.btn_save {
    width: 550px;
    height: 45px;
    line-height: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    text-align: center;
    color: white;
    background-color: black;
    border-style: none;
}

.btn_delete_wrap {
	width: 550px;
    margin-top: 20px;
    text-align: right;
}

.checked {
    height: 30px;
    margin: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
}

.checked .off {
    font-size: inherit;
    text-decoration: none;
    width: 33%;
    height: 100%;
    text-align: center;
    float: left;
    font-size: 14px;
    opacity: .5;
}

.checked .on {
    color: blue;
    font-weight: 700;
}

.btn_change_pw {
	/*
    position: absolute;
    bottom: 0;
    width: 550px;
    height: 45px;
    line-height: 30px;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    text-align: center;
    color: white;
    background-color: black;
    border-style: none;
    display: block;
    */
    
    position: absolute;
    /* position: relative; */
    bottom: 0;
    width: 550px;
    height: 45px;
    line-height: 30px;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    text-align: center;
    color: white;
    background-color: black;
    border-style: none;
}

/*
	패스워드 체크
*/
.container_mypage_check_contents {
    width: 1100px;
    height: 2000px;
    position: relative;
    margin: 0 auto;
    background-position: 50% 50%;
    border-top-width: 2px;
    border-top-style: solid;
    border-color: black;
}

.mypage_check_content {
	position: relative;
    float: right;
    width: 830px;
    margin-top: 40px;
    right: 15px
}

.mypage_passwordCk {
	width: 730px;
    border-top: 1px solid lightgray;
    margin-top: 10px;
    text-align: center;
}

.mypage_passwordCk_input {
	width: 730px;
    height: 100px;
    border: 1px solid lightgray;
}

#memberPw {
	border: 1px solid;
    width: 316px;
    height: 40px;
}

.check {
	width: 60px;
	height: 40px;
	background-color: black;
	color: white;
	border: none;
}

/*
	나의 문의 내역
*/
.myInquiry_check_content {
	position: relative;
    float: right;
    width: 830px;
    margin-top: 40px;
    right: 15px
}

.myInquiry-table {
	width: 845px;
	border-collapse: collapse;
	text-align: center;
	border-color: lightgray;
}

.myInquiry-table th, 
.myInquiry-table td {
	height: 45px;
}

.myInquiry-table th {
	padding: 3px 10px;
	background-color: #edf4ed;
}

.myInquiry-table td {
	padding: 10px;
}

.myInquiry-table td > a {
	text-decoration: none;
    color: black;
}

/*
	페이징
*/
.myinquiry-restay-page-number {
	margin-top: 30px;
	width: 845px;
    margin: auto;
}

.myinquiry-restay-page-number-ul {
	display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin-top: 50px;
}

.myinquiry-restay-page-number-ul a {
	text-decoration: none;
	color: black;
}

