@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    /* height: 100%; */
    font-size: 15px;
    font-weight: normal;
    font-family: 'Spoqa Han Sans Neo','Noto Sans KR', sans-serif;
    color: #101010;
    box-sizing: border-box;
    list-style: none;
    position: relative;
    word-break: keep-all;
    text-decoration: none;
}

main {
    width: 1440px;
    margin: 0 auto;
}

.pm1_title {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.pm1_main_img {
    display: block;
    height: 800px;
    font-size: 0;
    background-image: url(https://i.ibb.co/vdXYymG/pm1-tit.png);
}

.pm1_main_expain {
    display: block;
    width: 900px;
    height: auto;
    font-size: 18px;
    letter-spacing: 7%;
    text-align: center;
    margin: 100px auto;
    line-height: 3;
}

.pm1_main_expain>:first-child {
    font-size: 22px;
    font-weight: 500;
}

.pm1_for {
    display: block;
    height: 502px;
    margin: 100px auto;
    font-size: 0;
    background-image: url(https://i.ibb.co/tDvV07z/pm1-for.png);
}

.pm1_examples {
    display: block;
    margin: 100 auto;
    width: 100%;
    height: auto;
}

.pm1_exam1 {
    display: block;
    height: 699px;
    margin: 20px auto;
    font-size: 0;
    background-image: url(https://i.ibb.co/7j25TJb/pm1-exam1.png);
}

.pm1_exam2 {
    display: block;
    height: 699px;
    margin: 20px auto;
    font-size: 0;
    background-image: url(https://i.ibb.co/Nrc33y0/pm1-exam2.png);
}

.pm1_exam3 {
    display: block;
    width: 1155px;
    height: 600px;
    margin: 30px auto;
    font-size: 0;
    background-image: url(https://i.ibb.co/5R9MgXB/pm1-exam3.png);
}

.pm1_exam4 {
    display: block;
    width: 1155px;
    height: 600px;
    margin: 30px auto;
    font-size: 0;
    background-image: url(https://i.ibb.co/L9c00wz/pm1-exam4.png);
}

.pm1_exam_wrap {
    width: 1155px;
    margin: 0px auto;
    margin-bottom: 80px;
    /* margin: 0 0 80px 15px; */
    text-align: start;
}

.pm1_exam_wrap>p:first-child {
    font-size: 20px;
    margin: 10px auto;
}

p:nth-child(2) {
    margin-bottom: 30px;
}

.pm1_exam_wrap>p {
    margin-left: 15px;
    line-height: 1.6;
    font-weight: bold;
    letter-spacing: 1px
}

.pm_rule {
    display: block;
    width: 1440px;
    height: 147px;
    background-image: url(https://i.ibb.co/TbbgKs7/pm-rule.png);
    margin: 0 auto;
}