@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

* {
    font-family: 'Spoqa Han Sans Neo','Noto Sans KR', sans-serif;
}

body {
    margin: 0;
}

.wrap {
    margin: auto;
    width: 1440px;
    height: 1513px;
}

.notice-logo {
    width: 1440px;
    height: 282px;
    margin-bottom: 10px;
}

.notice-menu {
    margin: auto;
    width: 1100px;
    height: 64px;
    border: 1px solid;
    border-radius: 10px;
}

.notice-menu ul {
    height: 64px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.notice-menu li {
    /* padding-top: 20px; */
    width: 280px;
    text-align: center;
    border-right: 1px solid #808080;
    margin-top: auto;
    margin-bottom: auto;
}

.notice-menu li:nth-of-type(4) {
    border-right: none;
}

.notice-menu a {
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.notice-list {
    width: 1100px;
    /* height: 483px; */
    /* border: 1px solid; */
    margin: auto;
    margin-top: 26px;
}

.notice-list ul {
    /* height: 483px; */
    list-style: none;
    margin: 0;
    padding: 0;
}

.notice-list li {
    width: 1100px;
    border-bottom: 1px solid #d3d3d3;
    padding-left: 5px;
}

.notice-list li:hover {
    background-color: #f5f5f5;
}

.p-content-1, .p-content-2, .p-content-3, .p-content-4, .p-content-5, .p-content-6, .p-content-7 {
    font-size: 16px;
    display: none;
}


.p1, .p2, .p3, .p4, .p5, .p6, .p7 {
/* .notice-list p { */
    margin: 0;
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: bold;
    cursor: pointer;
}

.notice-number {
    width: 1100px;
    height: 84px;
    /* border: 1px solid; */
    margin: auto;
    margin-top: 5px;
}

.notice-number ul {
    list-style: none;
    margin: 0;
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 17px;
}

.notice-number a {
    font-size: 16px;
    text-decoration: none;
    color: black;
}